click==6.6
crypto==1.4.1
decorator==4.0.2
dj-database-url==0.4.0
Flask==0.11.1
gnureadline==6.3.3
gunicorn==19.4.5
image==1.5.3
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
path.py==8.1.1
Pillow==3.3.0
psycopg2==2.6.1
py2app==0.7.3
pycrypto==2.6.1
requests==2.9.1
whitenoise==3.2.1
